* {
    box-sizing: border-box;
}

@font-face {
    font-family: "American Typewriter";
    src: url(images/AmericanTypewriterRegular.ttf);
}

body {
    text-align: center;
    padding: 0;
    font-family: "American Typewriter", sans-serif;
    background-color: #faf3dc;
}

.headerImage{
    padding-top: 2%;
    width: 60%;
}

.castPic {
    width: 80%;
}

.header {
    padding-top: 1%;
    padding-bottom: 5%;
}

.collectionItems {
   padding: 2%;
}

.collectionItems p:hover {
    font-weight: bold;
    font-size: 1.1em;
}

.displayDB {
    border: 2px solid #000000;
    border-radius: 9%;
    margin: 2%;
}

h3, .page2header h1 {
    text-transform: uppercase;
}

.grids img {
    width: auto;
    height: 180px;
    padding: 0 10px;
    margin-top: 3%;
    border-radius: 10%;
}

.grids img:hover {
    box-shadow: inset 0 0 0 25px #808080;
}

.grids {
    display: grid;
    padding: 4% 3%;
    grid-template-columns: 1fr 1fr 1fr;
}

.addQuoteLink {
    width: 100%;
    height: 50px;
    background: #b2d8d9;
    position: fixed;
    bottom: 0;
    border: none;
    left: 0;
}

.addQuoteLink a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
}

.addQuoteLink:hover {
    font-size: 2em;
    font-weight: bold;
}

/*Page 2 styling - add quote page*/
.page2header {
    padding-top: 4%;
}

input, select, label, button {
    width: 80%;
    display: inline-block;
    padding: 2%;
    border-radius: 8px;
}

button {
    margin-bottom: 6%;
}

input[type=submit]{
    background-color: green;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

input, select {
    border: 1px solid;

}

input[type=submit] {
    margin: 2%;
}

/*Responsivity commands*/
@media only screen and (max-width: 1200px) {
    .grids {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    .grids {
        grid-template-columns: 1fr;
    }
}